<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amor</title>
    <link rel="icon" href="./static/fotos/icono.jpg">
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="amor"><strong><em>ERES EL AMOR DE MI EXISTENCIA</em></strong></h1>
        <h1 class="amorg">TE AMO</h1>
        <p class="con">
            Mi amor, cada día que pasa me enamoro mucho más de ti. Quiero que sepas lo profundamente que te amo y lo agradecida que estoy por tenerte en mi vida. Eres la luz que ilumina mis días y la fuerza que impulsa mis sueños, sin darte cuenta te haz vuelto en mi todo.<br><br>
            Contigo, he descubierto un amor que trasciende el tiempo y el espacio. Quiero construir un futuro contigo, lleno de risas, aventuras y momentos inolvidables se que ahora no tenemos la muchas fotos que quisieramos pero a futuro seguramente faltaria espacio. en nuestros cell de tantas. Eres mi compañera de vida, mi confidente y mi mayor apoyo.<br><br>
            Cada momento a tu lado es un regalo que atesoro con todo mi ser. Quiero que sepas que siempre estaré aquí para ti, en los buenos y malos momentos, para celebrar tus logros y apoyarte en tus desafíos.<br><br>
            Te amo más de lo que las palabras pueden expresar, y estoy emocionada por todo lo que el futuro nos depara juntas. Gracias por ser mi amor, mi inspiración y mi razón para sonreír cada día. Te amo hoy, mañana y por siempre mi pedacito de cielo.<br><br>
        </p>
        <br><br>
        
        <h3 class="contee" ><strong><em>Nuestras Fotitos</em></strong></h3>
        <p class="conte" align="left">
            Hoy tenemos estas fotitos aquí, pero en un futuro prometo que habrán miles, mi amor. Gracias por estos bellos momentos que me has dado. En estas fotos se encuentra cada significado bonito que me dijiste. Eres lo más bello que me pudo pasar. Jamás olvides que te amo.
        </p> 
        <br><br>       
        <div class="image-gallery">
            <img src="./static/fotos/m1.jpg">
            <img src="./static/fotos/m2.jpg">
            <img src="./static/fotos/m3.jpg">
            <img src="./static/fotos/m4.jpg">
            <img src="./static/fotos/m5.jpg">
            <img src="./static/fotos/m6.jpg">
            <img src="./static/fotos/m7.jpg">
            <img src="./static/fotos/m10.jpg">
            <img src="./static/fotos/m9.jpg">
            <img src="./static/fotos/m8.jpg">
        </div>
        <br><br>

        <h1 class="amorgm">Espero te guste mi vida...</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cdHn3kNGRRs?si=ZaHEy5ghYAWwmot8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>
